<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936380367400-kq670u89udp6063jt27gtfcmedam8jfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936380367400-kq670u89udp6063jt27gtfcmedam8jfp</string>
	<key>API_KEY</key>
	<string>AIzaSyChN8oHylG4tNQ4noQvTrImCpfGOij0Brw</string>
	<key>GCM_SENDER_ID</key>
	<string>936380367400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flashChat.iOSBootcamp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-iosbootcamp</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-iosbootcamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936380367400:ios:bb497661761f83f5232b1d</string>
</dict>
</plist>